{% extends "trincrypt_posts/base.html" %}

	{% block content %}
	<h3> Groups </h3>
	{% for group in groups %}
		<li><a href="{% url 'trincrypt_groups:details' group.id %}">{{ group.name }}</a></li>
	{% endfor %}
	{% endblock %}	}
