{% extends "trincrypt_posts/base.html" %}

	{% block content %}
	<h3> Create a tweet that will be encrypted and posted to twitter </h3>
	<form action="{% url 'trincrypt_posts:details' %}" method="post">
	{% csrf_token %}
	<label for="message">Message: </label>
	<input id="message" type="text" name="message" maxlength="95"><br />
	{% for group in groups %}
		<input type="radio" name="group" id="group{{ forloop.counter }}" value="{{ group.id }}" />
    	<label for="group{{ forloop.counter }}">{{ group.name }}</label><br />
	{% endfor %}
	<input type="submit" value="Submit" />
	</form>
	{% endblock %}