{% extends "trincrypt_posts/base.html" %}

	{% block content %}
	<h3> Tweet Details </h3>
	<p>plaintext: {{message}}</p>
	<p>ciphertext: {{post.message}}</p>
	<p>Group: {{ group.name }}</p>
	<p>Status: {{ post.status_id }}</p>
	{% endblock %}