<html> 
	<head>
		<title>{% block title %}Trincrypt{% endblock %}</title>
		<link rel="stylesheet" href="/media/style.css">
</head>
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>