{% extends "trincrypt_users/base.html" %}
	{%block title%}User Profile{% endblock%}
	{% block content %}
	<div id="container">
			<img src="{{twitter_user.profile_image_url}}" />
			<h3>{{user.name}}</h3>
			<p>{{user.screen_name}}<p/>
			<p>Date Joined: {{user.date_joined}}<p/>
			<a href="{% url 'trincrypt_posts:create' %}" title="create">Create tweet</a>
			<br />
			<a href="{% url 'trincrypt_groups:group' %}" title="group">View Groups</a>
			<br />
			<a href="/logout/" title="logout">logout</a>
	</div>
	{% endblock %}