{% extends "trincrypt_users/base.html" %}

	{% block content %}
		{% if is_registered %}  
			<h1>Sorry, you are already registered!</h1>
		{% else %}
			<h1>You are now registered!</h1>
			<p> Welcome to the site {{ twitter_user.name }}! </p>
		{% endif %}
		<a href="{% url 'trincrypt_users:profile' twitter_user.id_str %}" title="profile">go to profile</a>
	{% endblock %}