{% extends "twitter_auth/base.html" %}

	{% block content %}
		<div id="container">
			<img src="{{user.profile_image_url}}" />
			<h3>{{user.name}}</h3>
			<p>{{user.screen_name}}<p/>
			<br />
			{% if is_registered %}
			<a href="{% url 'trincrypt_users:profile' user.id_str%}">Check out trincrypt profile!</a>
			{% else %}
			<a href="{% url 'trincrypt_users:register' %}">Register now</a>
			{% endif %}
			<br />
			<a href="/logout/" title="logout">logout</a>
		</div>
	{% endblock %}