{% extends "twitter_auth/base.html" %}
		
	{% block content %}
	<div id="container">
		<h2>Welcome!</h2>
		<p>Sign in with Twitter to begin.</p>
		<p><a href="/auth/"><img src="http://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt="sign in with twitter" /></a></p>
	</div>
	{% endblock %}